<ul class="navbar">
   
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <li><a href = '{% url 'admin-panel' %}'>Dashboard</a></li>
            <li><a href = '{% url 'users' %}'>Users</a></li>
            <li><a href = '{% url 'training' %}'>training</a></li>
            <li><a href = '{% url 'organization' %}'>organization</a></li>
        {% endif %}
        {% if not user.is_superuser %}
            <li><a href = '/emp-dashboard/{{user.id}}'>Dashboard</a></li>
            <li><a href = '/my-trainings/{{user.id}}'>My trainings</a></li>
            <li><a href = '{% url 'logout' %}'>logout</a></li>
        {% endif %}
        <li><a href = '{% url 'cataloge' %}'>cataloge</a></li>
    {% else %}
        <li><a href = '{% url 'login' %}'>Upini</a></li>
    {% endif %}
    

</ul>
