{% extends 'empBoard/main.html' %} {% block centent%}

<div class="table-container emp">
  <table>
    <tr>
      <th>training</th>
      <th>status</th>
    </tr>

    {% for trainig in userTrainigs %}
    <tr>
      <td data-column="trainig">{{trainig.training.title}}</td>
      <td data-column="status">
        {% if trainig.status %}
        <i class="fa-solid fa-circle-xmark"></i>
        {% else %}
        <a href="/rate/{{trainig.training.id}}/{{user.id}}"> Completed </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
